
head {
    margin: 0;
}
body {
    background-color: 334756;
    margin: 0;
}
p, a {
    font-family: cursive;
    color: white;
}

h1, h2, h3 {
    font-family: cursive;
    color: F0A500;
}

hr {
    border-style: solid;
    border-color: 082032;
    border-width: 2px;
    width: 80%;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: 082032;
    
}




a:link {
    text-decoration: none;
}

.Div1 {
    
    align-content: center;
    margin: 0;
    background-color: 000000;
    border-style: solid;
    border-color: F0A500;
    border-width: 3px;
    
    
}

.Div2 {
    padding: 20;
}
h3, p {
    padding: 20;
}
.Buttons {
    font-size: 30;
}

#HR002 {
    width: 60%;
}
table {
    align-content: center;
}
