
html{
    color: #264653;
}

nav{
    float: left;
    width: 70%;
    margin: 5em 3em 0 0;
    
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li{
    display: inline-block;
    font-size: 1.75em;
}
nav li a{
    display: block;
    color: #264653;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

}

header{
    float: left;
    width: 25%;
}

main{
    background-color: #e9c46a;
    clear: left;
    padding: 2%;
    font-size: 1.25em;
    
}

h1{
    
    text-align: center;
}

#container{
    width: 80%;
    margin: 0 auto;
}

a:hover{
    color: #2a9d8f;
    transform: scale(1.2);
    background-color: #264653;
    border-radius: 10px;
    
}

img{
    border-radius: 10%;
    
   
    padding-top: 10px;
    max-width: 100%;
    display: block;
    
}
footer p{
    font-size: 0.75em;
    text-align: center;
    padding: 0 1em;
}
footer a:hover{
    text-decoration: none;
    transform: scale(1);
    background-color: #e9c46a;
}

body{
    background-color: #e9c46a;
}
